aa

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, cca
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	overflow-x: hidden;
}
$color: rgb( 188,0,77 );
$font: " Arial, Helvetica, sans-serif "  ;
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.navbar{
    display: flex;flex-direction: row;justify-content: space-between; padding: 20px 40px;background-color: black; width: 100%;
    .icon{
        width: 50%;height: 50%;
        img{width: 100%;}
    }
    ul{display: none;
        
    }
}
// banner
.banner{
    .vid{
        display: flex;justify-content: center;align-items: center;
        h1{font-size: 40px;padding: 70px 0;}
    }
}
// about
.about{padding: 50px 0;

    h2{font-size: x-large;font-style: oblique;text-align: center;margin-top: 40px;}
    
}


/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/

/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 568px) {  

}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .navbar{background-color: black;
        .icon{
            width: 15%;height: 15%;
            img{width: 100%;}
        }
        ul{
            display: block;display: flex;flex-direction: row;justify-content: space-between; margin-top: 10px;
            a{color: grey;font-size: x-large;font-style: oblique;padding:  20px;text-decoration: none;}
            a:hover{
                color: pink;
            }
        }
        
    }
    // banner
    .banner{padding: 60px;
        .vid{
            h1{margin: 40px;font-size: 70px;}
        }
    }
    // abt

    .about{
        h2{
            font-size: xx-large;
            
        }
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    
}



/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/

/* Set width to make card deck cards 100% width */
@media (max-width: 950px) { 

}
