aa

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, cca
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	overflow-x: hidden;
  ;
}
$color: rgb( 188,0,77 );
$font: " Arial, Helvetica, sans-serif "  ;
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.navbar{
    display: flex;flex-direction: row;justify-content: space-between; padding: 20px 40px;background-color: black; width: 100%;
    .icon{
        width: 50%;height: 50%;
        img{width: 100%;}
    }
    .link{display: none;
        
    }
    ul{display: none;}

   
}
// banner
.banner{height: 560px; 
    .vid{
        height: 100vh; width: 100vw; margin-top: -180px; 
        video{width: 100vw;height: 80vh;}
    }
}
// about
.about{padding: -20px 0 40px 0;
   
    

   .container{ 
    h2{font-size: xx-large;font-style: oblique;text-align: center;margin-top: 40px;  color: rgb(208, 0, 67);margin-top: 2rem;}
    
    
    .text{
     display: flex;flex-direction: column;justify-content: center;align-items: center;
     p{color:black;margin-top: 2rem;}
     .button{width: 15rem;height: 3rem;border: solid white 1px;text-align: center;border-radius: 3rem;margin-top: 2rem;background-color: black;color: pink;a{color: pink;text-decoration: none;} display: flex; flex-direction: row;justify-content: center;align-items: center;}
     .button:hover{
         background-color: pink;color: black;font-size: larger;transition: 2s;
     }
    }
   }
    
}
// gallery
.gallery{ background-color: black; padding: 50px 0;
    h2{color: pink;text-align: center;font-size: 40px;font-style: oblique;}
    .row{
        .col-md-3{
            .pic{margin: 20px 0;
              height: 400px; width: 100%;
                img{height: 100%;width: 100%;}
            }
        }
    }
    .carousel-item{height: 400px; width: 400px;
        img{height: 100%;width: 100%;}
    }
    #last{display: none;}
    
}

.contact{padding: 50px 0; background-color: white;
    h2{color: white;padding-top: 50px;}
    form{
        padding-top: 20px;
    }
    button{background-color: rgb(208, 0, 67);color: white;width: 170px;}
    .headings{
        color: rgb(208, 0, 67);font-style: oblique;
        span{color: black;}
    }
    ul{
       p{color: blacl;}
       a{color: black;}
    }
    .social{
        .o{
            display: flex;
            .u{
                width: 20px;height: 20px;
                img{width: 100%;}
            }
            p{margin-left: 40px;}
        }
    }
}


/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/

/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 568px) {  

}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .navbar{background-color: black;
        .icon{
            width: 15%;height: 15%;
            img{width: 100%;}
        }
        .link{
            display: block;display: flex;flex-direction: row;justify-content: space-between; margin-top: 10px;
            a{color: white;font-size: x-large;font-style: oblique;padding:  20px;text-decoration: none;}
            a:hover{
                color: rgb(208, 0, 67);
            }
        }
        ul{display: none;}
        .menu{display: none;}
        
    }
    // banner
    .banner{height: 900px;
       .vid{  
      
        video{width: 100%; background-color: rgb(226, 223,223);margin-top: 180px;}
       }
    }
    // abt

    .about{ padding: 50px 0;
       .container{
        h2{
            font-size: 50px;
            
        }
        .pic{height: 500px;
            img{
                height: 100%;

            }
        }
       }
        
       
    }

    .gallery{ padding: 50px 0;
        #carouselExampleIndicators{
            display: none;
        }
        #last{display: block;}
    }

   
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    
}



/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/

/* Set width to make card deck cards 100% width */
@media (max-width: 950px) { 

}
